@import "tailwindcss";
.retro-scanline {
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%, 
    rgba(0, 0, 0, 0.1) 50%
  ), linear-gradient(
    90deg, 
    rgba(255, 0, 0, 0.02), 
    rgba(0, 255, 0, 0.01), 
    rgba(0, 0, 255, 0.02)
  );
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
}